
#container{
	background: #edeff2;
	overflow: auto;
}

.adder{
	border: 1px solid #ced6de;
	width: 85%;
	margin: 0;
	border-radius: 3px;
}

.adder_text{
	color: #9aaac1;
	padding: 10px;
	width: 70%;
	font-size: 16px;
}

input{
	border:none;
}

input:focus{
	outline:none;
}

.adder_person{
	width: 25px;
	height: 25px;
	margin: 5px;
	background: url(../img/sprite.png) no-repeat 5px;
	cursor:pointer;
	position:relative;
}

.adder_person:hover{
	background: url(../img/sprite.png) no-repeat -19px;
}

.adder_calendar{
	width: 25px;
	height: 25px;
	margin: 5px;
	background: url(../img/sprite.png) no-repeat -43px;
	cursor:pointer;
	position:relative;
}

.adder_calendar:hover{
	background: url(../img/sprite.png) no-repeat -67px;
}

.adder_tag{
	width: 25px;
	height: 25px;
	margin: 5px;
	background: url(../img/sprite.png) no-repeat -90px;
	cursor:pointer;
	position:relative;
}

.adder_tag:hover{
	background: url(../img/sprite.png) no-repeat -112px;
}

.list{
	position: absolute;
	left: -8em;
	top: 3em;
	width: 15%;
	border: 1px solid #9aaac1;
	z-index: 1;
	border-radius: 3px;
	background: #fff;
	padding: 0 0 5px 0;
}

.list .searcher{
	background: #e2e5e9;
	padding: 10px;
	text-align: center;
}

.list .searcher input{
	border: 1px solid #9aaac1;
	margin: 0 auto;
	width: 90%;
	padding: 5px 10px;
	font-size: 14px;
}

.list .string{
	padding:10px;
	cursor:pointer;
	font-size: 13px;
}

.list .string:hover{
	background:#697485;
	color: #fff;
}

.list .avatar{
	width: 25px;
	height: 25px;
	border-radius: 13px;
	background: #fff url(http://newhits.ru/images/halloween/128x128/halloween_scream.png);
	background-size: 25px;
	margin: 0 10px;
}

.button{
	padding: 10px 20px;
	margin: 0 0 0 20px;
	border-radius: 3px;
	background: #27c168;
	border-bottom: 2px solid #20a157;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(38, 38, 38, 1);
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

.task{
	width: 50%;
	height: 30px;
	margin: 10px 30px;
	border: 1px solid #ced6de;
	line-height: 30px;
	padding: 10px;
}

.datepicker{
	min-height: 200px;
}

.active{
	background: #27c168;
}

.invisible{
	display:none;
}

.left{
	float:left;
}

.right{
	float:right;
}

.clear{
	clear: both;
}

[rel='del']{
	cursor:pointer;
}

input + label{
	cursor:pointer;
}



@media screen and (min-width:240px) and (max-width:600px) {
	
	#wrapper, #header, #container, .adder{
		width:auto;
	}

	.adder_text{
		width:50%;
	}

	.button.left{
		float:right;
	}

	.task{
		margin:0;
		width:auto;
	}

	.list{
		width:200px;
		left:110px !important;
	}

}